@{
    ViewBag.Title = "Home";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <h3>@ViewBag.Message</h3>

    @using (Html.BeginForm("Index", "Home", new { Count = 5 }, FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Create Users" class="btn btn-outline-dark" />
            </div>
        </div>
    }


</main>